* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy-Bold', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 585.865px);
    padding-right: calc(50% - 585.865px);
}


.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 84px;
}

.menu_head {
    display: flex;
    gap: 32px;
}


.logo_head {
    /* margin-left: 375px; */
    margin-right: 500px;
}

.head_link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.head_link_2 {
    color: #F25822;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.top_info {
    width: 522px;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_text {
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 17px 0px 37px 0px;
}

.top_buttom_contain {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.top_buttom_text {
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.logo_brand {
    margin-top: 259px;
}